
.introduction-container{
    background-color: #e6e8eb;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 4rem;

}
.footer{
    border-top: 1px solid #110C0C;
}

.navbar{
    border-bottom: 1px solid #110C0C;
    background-color: #e6e8eb ;
}


.button-join{
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(55,55,55,1) 76%);
    color: #e6e8eb;
    border: 1px solid #110C0C;
}
.image-black-container{
    width: 95%;
    margin: 2rem auto;
    background-color: #010101;
    border-radius: 1.7rem ;
    height: 45rem;
    padding-bottom: 1%;
}

.image-black-container  img{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

    text-align: center;
    width: 98%;
    height: 98%;
    border-radius: 1.5rem ;
}

.success-story-container{
    margin-top: 5rem;
   
}
.success-story-container > p {
    margin: 1.5rem auto;
    max-width: 80%;
    font-size: large;
}



.small-container{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(55,55,55,1) 76%);
    border-radius: 1rem;
    color: #F3F4F6;
    width: 15rem;
    padding: 0.3rem;
    padding-top: 1rem;

}

.powerfull-features-container{
    width: 95%;
    background:linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(55,55,55,1) 76%) ;
    margin: 2.5%;
    margin-top: 5rem;
    border-radius: 1.5rem;
    padding-bottom: 1rem;
    color: #F3F4F6;
}

.powerfull-features-container .text{
    width: 80%;
    text-align: left;
    margin-top:3rem;
    margin-left: 10%;

}

.powerfull-features-container img{
    width: 95%;
    max-height: 90%;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 1.5rem;

}
.more-info-button{
    
    margin-top: 5%;
   background-color: #F3F4F6;
   border: 0;
   border-radius: 0.6rem;
   padding: 0.4rem 0.7rem;

}

.general-data-container{
    margin-top: 5rem;
    width: 95%;
    margin-left: 2.5%;
    text-align: left;
}

