
.add-plus{
    color: #A79B94;
    font-size: xx-large;

}
.add-text{
    color: #A79B94;
    font-size: 200;
    text-decoration: none;
}
.modal-alert{
    width: 80%;
    font-size: medium;
    padding-bottom: 0;
}

.modal-button{
    padding: auto;
    background-color: #689EB8;
    border: 1px solid #598ba3;
}

.modal .modal-button:hover{
    padding: auto;
    background-color: #5a8faa;
    border: 1px solid #49768c;
}

.modal .modal-button:focus {
    padding: auto;
    background-color: #5a8faa;
    border: 1px solid #49768c;
}
